body {
  background-color: #fafafa;
}
.App {
  text-align: center;
  color: black;
}
/* .navbar {
  color: black;
  background-color: blue;
} */

h3 {/* H3 only for 'instagram' */
  font-family: 'Cookie', cursive;
  font-size: 3rem;
  color: #393939;
}

/*********************** LOGIN *************************/
.register-login-container {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  width: 340px;
}
.login-container {/*** Whole container ****/
  height: 450px;
}
.login-containers {/*** Includes form and signup containers ***/
  border: gray solid 1px;
  background-color: white;
  display: flex;
  flex-direction: column;
}
.login-form-container {
  justify-content: flex-start;
  align-items: center;
  height: 80%;
}
.login-signup-container {
  margin-top: 10px;
  justify-content: center;
  height: 16%;
}
.login-input {
  width: 250px;
  height: 32px;
  margin-bottom: 5px;
  background-color: #fafafa;
  border: gray solid 1px;
  border-radius: 3px;
  padding-left: 7px;
  color: #d7d6d7;
}
.login-btn {
  width: 78%;
  border-radius: 3px;
  height: 28px;
  background-color: #b2dffc;
  color: white;
  border: none;
  margin-top: 5px;
}
.span-password {
  margin-top: 20px;
  color: #393939;
}
.login-signup-text {
  color: blue;
}
/************************* LOGIN END ****************************/

/*********************** REGISTER START *************************/
.register-span {
  font-weight: bold;
}
.terms-container {
  width: 230px;
}